/*
CSS HEX 
--white: #ffffffff;
--cambridge-blue: #81a684ff;
--viridian: #57886cff;
--feldgrau: #466060ff;
--rich-black: #0e0f19ff;

CSS HSL 
--white: hsla(0, 0%, 100%, 1);
--cambridge-blue: hsla(125, 17%, 58%, 1);
--viridian: hsla(146, 22%, 44%, 1);
--feldgrau: hsla(180, 16%, 33%, 1);
--rich-black: hsla(235, 28%, 8%, 1);

SCSS HEX 
$white: #ffffffff;
$cambridge-blue: #81a684ff;
$viridian: #57886cff;
$feldgrau: #466060ff;
$rich-black: #0e0f19ff;

SCSS HSL 
$white: hsla(0, 0%, 100%, 1);
$cambridge-blue: hsla(125, 17%, 58%, 1);
$viridian: hsla(146, 22%, 44%, 1);
$feldgrau: hsla(180, 16%, 33%, 1);
$rich-black: hsla(235, 28%, 8%, 1);

SCSS RGB 
$white: rgba(255, 255, 255, 1);
$cambridge-blue: rgba(129, 166, 132, 1);
$viridian: rgba(87, 136, 108, 1);
$feldgrau: rgba(70, 96, 96, 1);
$rich-black: rgba(14, 15, 25, 1);

SCSS Gradient 
$gradient-top: linear-gradient(0deg, #ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);
$gradient-right: linear-gradient(90deg, #ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);
$gradient-bottom: linear-gradient(180deg, #ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);
$gradient-left: linear-gradient(270deg, #ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);
$gradient-top-right: linear-gradient(45deg, #ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);
$gradient-bottom-right: linear-gradient(135deg, #ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);
$gradient-top-left: linear-gradient(225deg, #ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);
$gradient-bottom-left: linear-gradient(315deg, #ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);
$gradient-radial: radial-gradient(#ffffffff, #81a684ff, #57886cff, #466060ff, #0e0f19ff);

*/


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Allgemeine Stile */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Allgemeine Styling für das <nav>-Element */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 50px;
}


/* Styling für die <ul>-Liste (Enthält die Links) */
ul {
  display: flex;
  list-style: none;
}

/* Styling für die <li>-Elemente (Einzelne Listenelemente) */
ul li {
  margin-left: 15px;
  margin-right: 15px;
}

/* Styling für die Links */
ul li a {
  text-decoration: none;
  color: #333; /* Textfarbe anpassen */
}


.logo img{
  width: auto;
  height: 50px;
}

.main{
  padding: 0;
  margin: 0;
}

#home-1{
  font-size: 70px;
  line-height: 100px;
}

#grün-kursiv{
  font-family: "Sofia", sans-serif;
  font-style: italic;
}