<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{url_for('static', filename='favicon.png')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="{{url_for('static', filename='script.js')}}"></script>
  <script src="{{url_for('static', filename='search.js')}}"></script>
  <title>EZ-Code</title>
</head>

<body>
  <header>
    <nav>
      <a href="{{url_for('home')}}" class="logo"><img
          src="{{url_for('static', filename='ez-code-high-resolution-logo-color-on-transparent-background.png')}}"></a>
      <ul>
        <li class="dropdown"><a href="#">Lexikon</a>
          <ul class="dropdown-content">
            <li><a href="{{url_for('lexikonCss')}}">CSS</a></li>
            <li><a href="{{url_for('lexikonHtml')}}">html</a></li>
            <li><a href="{{url_for('lexikonJs')}}">java script</a></li>
          </ul>
        <li><a href="{{url_for('uebersetzer')}}">Übersetzer</a></li>
        <!-- <li><a href="challenges.html">Challenges</a></li> -->
      </ul>
    </nav>
  </header>
  <main>

    <article id="home-1">
      <p class="einleitung">
      <h1>
        LERNEN
        <br />
        <span class="durchstreichen">MUSS</span><span class="font-effect-fire" id="grün-kursiv"> DARF</span>
        <br />
        NICHT ANSTRENGEND
        <br />
        SEIN!
      </h1>
      </p>
      </div>
    </article>
    </div>
    <article class="home-2">
      <div class="row center">
        <div class="column">
          <div class="bengt"><a href="https://github.com/BengtBuecker"><img src="{{url_for('static', filename='IMG_20230726_134708_190.jpg')}}"
              alt="Portrait von Bengt Bücker bei MUNOL 2023" /></a>
            <h2>Bengt Oke Bücker</h2>
            <p class="texte-dev">
              Moin! Mein Name ist Bengt Oke Bücker. Ich bin seit vielen Jahren in den Bereichen der Information
              Technology tätig. Praktische Erfahrungen sammelte ich zum einem in meinen Praktika bei Dräger und der Cevo
              Systemhaus AG, sowie als Head of IT bei den Model United Nations of Lübeck. Als ich die Werbung von Digital Explorer gesehen habe, musste ich also nicht lange überlegen. Das ist bereits ein Jahr her.
              Seitdem nahm ich regelmäßig an Unterrichtseinheiten und Workshops rund um das Thema IT teil. Das Ergebnis
              ist mein aufwendigstes Web-Projekt jemals: Diese Website. Sie dient dazu Lernenden und Fortgeschrittenen
              beim Programmieren zu helfen. Viel Spaß!
            </p>
          </div>
        </div>
        <div class="column">
          <div class="finn"><a href="https://github.com/finnk42"><img src="{{url_for('static', filename='finn.JPG')}}" alt="Finn" /></a>
            <h2>Finn Kramme</h2>
            <p class="texte-dev">
              Hallo, ich heiße Finn Kramme. Durch die Schule habe ich das Programmieren für mich entdeckt. 
              Als Abschlussprojekt programmierte ich einen einfachen Chatbot für Schüler, um das Lösen von mathematischen Funktionen zu üben.
              Auch neben der Schule versuchte ich mir neue Gebiete der Informatik anzueignen. Digital Explorer bot daher eine perfekte Möglichkeit für mich
              und verschaffte mir Einblicke in bisher unbekannte Themen. Die Krönung des Programms war auf jeden Fall die Umsetzung einer eigenen Idee, die
              mir sehr viel Spaß gemacht hat und bei der ich so viel lernte, dass es unserem Slogan alle Ehre machte.   
            </p>
          </div>
        </div>
      </div>
    </article>
    <article class="digital-explorer-home-3">
      <div class="row-digexp">
        <div class="column-digexp">
          <div class="digexp-text">
            <h2>Digital Explorer</h2>
            <p>
              Digital Explorer ist ein schulbegleitendes Qualifikationsprogramm, in dem du trainierst digitale
              Technologien kompetent und sicher zu entwickeln, um damit Menschen kreativ und sinnvoll zu
              unterstützen.<br> Kombination aus Online- und Präsenz­modulen mit konkretem Praxis­training sorgt für
              ent­spanntes Lernen und stetige Weiter­ent­wicklung der eigenen Kompetenzen. Die Basis­quali­fika­tion
              wird über­wiegend online stattfinden und dauert etwa 12 Monate. (Programmstart im Herbst 2022)
            </p>
          </div>

        </div>
        <div class="column-digexp">
              <a href="https://digital-explorer-edu.de/"><img src="{{url_for('static', filename='digexp.png')}}"
            alt="Quelle: https://digital-explorer-edu.de/images/Formate.png"></a>
        </div>
      </div>
    </article>
  </main>
  </div>
</body>

</html>