<!DOCTYPE html>
<html>

<head>
    <title>EZ-Code Übersetzer</title>
    <title>Übersetzer</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.png')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='uebersetzer.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loader.css')}}">
</head>

<body>
    <header>
        <nav>
          <a href="home.html" class="logo"><img src="../static/ez-code-high-resolution-logo-color-on-transparent-background.png"
              alt="EZ-Code Logo" /></a>
          <ul>
            <li class="dropdown"><a href="#">Lexikon</a>
              <ul class="dropdown-content">
                <li><a href="lexikon-css.html">CSS</a></li>
                <li><a href="lexikon-html.html">html</a></li>
                <li><a href="lexikon-js.html">java script</a></li>
            </ul>
            <li><a href="#">Übersetzer</a></li>
            <!-- <li><a href="challenges.html">Challenges</a></li> -->
          </ul>
        </nav>
    </header>
    <h1>Programmieren <br> war noch nie <br> einfacher.</h1>
    <form action="/process_input" method="POST">
        <label for="user_input">Dein Code:</label>
        <input type="text" contenteditable="true" name="user_input" id="user_input" required>
        <button id="generateButton" type="submit">Erkläre diesen Code</button>
    </form>
    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster" id="loader">
        <div class="wheel"></div>
        <div class="hamster">
            <div class="hamster__body">
                <div class="hamster__head">
                    <div class="hamster__ear"></div>
                    <div class="hamster__eye"></div>
                    <div class="hamster__nose"></div>
                </div>
                <div class="hamster__limb hamster__limb--fr"></div>
                <div class="hamster__limb hamster__limb--fl"></div>
                <div class="hamster__limb hamster__limb--br"></div>
                <div class="hamster__limb hamster__limb--bl"></div>
                <div class="hamster__tail"></div>
            </div>
        </div>
        <div class="spoke"></div>
    </div>
    <div id="output_section"> <script>
        var outputDiv = document.getElementById('output_section');
        var output = '{{ output}}'; 
        if (output !== '') {
            outputDiv.style.display = 'block';
            outputDiv.innerHTML = output;
        } else {
            outputDiv.style.display = 'none';
        }
    </script></div>
</body>
<script>
    var loader = document.getElementById('loader');
    generateButton.addEventListener('click', () => {
        loader.style.display = 'block';
        setTimeout(() => {
            loader.style.display = 'none';
        }, 130000);
    });
</script>
</html>